h1, h2, h3 {
    color: #1A313C;
}

/* Header */
#nav {
    text-align: center;
    height: auto;
    margin-top: 2.5rem;
}

.nav-bar {
    color: #1A313C;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 5px 70px;
}

.nav-bar:hover{
    text-decoration: none;
    color: #EFB542;
}

.display-mobile {
    display: none;
}

.row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

#ul{
    margin-top: 1rem;
}

div.card, .md-4{
    margin-left: .7rem;
    margin-right: .7rem;
}

/* Login Logout Register */
.login-out-register {
    margin: auto;
    border: 0.5px solid #1A313C;
    padding: 30px;
    border-radius: 10px;
}

.login-out-register h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 2.5em;
    text-transform: lowercase;
    color: #EFB542;
}

.login-out-register p {
    font-size: 1.2em;
}


/* Mobile */
@media screen and (max-width:520px){
    /* mobile Header */
    .logo-tagline {
        height: 53px;
    }

    h1 {
        font-size: 1.7em;
    }

    .dropdown-toggle::after{
        display: none;
    }

    .dropdown-menu{
        margin: 0;
        width: 100%;
    }

    /* Navbar */
    .remove-mobile {
        display: none;
    }

    .display-mobile {
        display: block;
    }

    .menu-btn-container {
        text-align: right;
        padding-right: 7%;
        padding-top: 5%;
    }

    .menu-btn-container li{
        text-align: center;
        padding: 5px;
    }

    .menu-btn {
        padding: 0;
        border: none;
        font-family: 'Roboto', sans-serif;
        background: none;
        color: #1A313C;
    }

    .btn-secondary:hover {
        border: none;
        background: none;
        color: #1A313C;
    }

    .fa-solid, .fa-bars{
        font-size: 2rem;
    }

    /* Home */
    .about-image {
        height: 220px;
    }
}

/* body {
    background-color: #F9FAFC;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
} */