h1 {
    font-family: 'roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 4vw;
}
h3{
    color:green;
}

.link{
    color:green;
}

.link:hover{
    color:darkgreen;
}
.greenspan{
    color:green;
    font-weight: 500;
}
.shoe-link{
    text-decoration: none;
}
.fas.fa-heart{
    color:red;
}

hr{
    background-color:green;
}

p {
    font-family: 'Nunito', sans-serif;
    margin:0;
}

h2 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 2vw;
    color: green;
}


/* Header */
/*navbar desktop*/
#nav {
    text-align: center;
    height: auto;
    margin-top: 1rem;
}

.navbar{
    border-bottom: 2px solid black;
    justify-content: center;
    background-color: #FFFFFF;
    margin-bottom: 1.7rem;
}

.nav-bar {
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 5px 70px;
}

.nav-bar:hover{
    text-decoration: none;
    color: green;
}

.display-mobile {
    display: none;
}

.row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

/* Login Logout Register */
.login-out-register {
    margin: auto;
    border: 0.5px solid #7C5869;
    padding: 30px;
    border-radius: 10px;
}

.login-out-register h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 2.5em;
    text-transform: lowercase;
    color: #7c5869;
}

.login-out-register p {
    font-size: 1.2em;
}

/* Home */
.home-page {
    width: 90%;
    margin: auto;
}

.home-image img {
    max-width: 100%;
    height: auto;
    padding: 1rem;
    padding-right: 5rem;
}

.home-page h2 {
    font-family: 'roboto', sans-serif;
    font-size: 3em;
    font-weight: 600;
    margin-top: -13px;
    text-transform: uppercase;
    color: green;        
}

.home-page p {
    font-size: 1.2em;
    letter-spacing: 1px;
}
.home-paragraph {
    padding-left: 1rem;
    padding-right: 1rem;
}
.about-us{
    color: green;
}

/*logo*/
.logo{
    text-decoration: none;
    color: black;
    font-weight: 900;
    padding-right: 100px;
}
.walking{
    text-transform: uppercase;
    color: green;
}

/*Shoes*/

.shoes-container{
    margin-left: 1.2rem;
    margin-right: 1,2rem;
}

.new-submission{
    justify-content: center;
    
}

.submit-your-shoes{
    width: 500px;
}

.all-trading-posts{
    opacity: 1;
    justify-content: center;
}

.submit-shoe-btn{
    background-color: green;
    color: #FFFFFF;
    border: 1px solid black;
}
#id_price{
    margin-bottom: 10px;
}
.submission-form{
    justify-content: center;
}
.like-button{
    background-color: #FFFFFF;
    border: none;
}

/*Blog*/
.card-body{
    background-color: #FFFFFF;
    border: 1.5px solid black;
}
.trader{
    padding-top: 1.1rem;
}

.line-hr{
    opacity: 1;
    color: black;
}

.post-link{
    font-weight: 500;
    text-decoration: none;
    color: green;
}

.post-link:hover{
    color:#7c5869;
}

.post-title{
    text-transform: uppercase;
}

.card-text{
    margin-top: 1rem;
    color: black;
}
.date-text{
    color:black;
    opacity: 1;
}

.page-link{
    background-color: green;
    color: white;
}

#ul{
    margin-top: 1rem;
}

div.card, .md-4{
    margin-left: .7rem;
    margin-right: .7rem;
}

/* sign out*/
.signout-btn{
    background: green;
    color: #FFFFFF;
    border-radius: 0;
}
.logout-container{
    display: flex;
    justify-content: center;
}
.signout-box{
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
}

.signout-p{
    padding-bottom: 0.5rem;
}

/* signin*/
.signin-btn{
    background: green;
    color: #FFFFFF;
    border-radius: 0;
}
.login-container{
    display: flex;
    justify-content: center;
}
.signin-box{
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
}

.signin-p{
    padding-bottom: 0.5rem;
}

/* signup*/
.signup-btn{
    background: green;
    color: #FFFFFF;
    border-radius: 0;
}
.signup-container{
    display: flex;
    justify-content: center;
}
.signup-box{
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
}

.signup-p{
    padding-bottom: 0.5rem;
}

#id_password2{
    margin-bottom:0.5rem;
}

/* post_detail*/
.btn-like{
    border: none;
    background-color: #FFFFFF;
}

.pagination-button{
    background-color: green;
    color: #FFFFFF;
}
.next-prev{
    display: flex;
    justify-content: center;
}
/* Mobile */
@media screen and (max-width:1230px){
    /* mobile Header */
    .home-page{
    width: 90%;
    margin: auto;
    }
    .logo_mobile{
        font-size: 1.5rem;
        margin-left: 7%;
        width:93%;
        padding-top: .3rem;
    }
    .logo-mobile{
        font-weight: 600;
        text-decoration: none;
        color:black;
    }
    .dropdown-toggle::after{
        display: none;
    }

    .dropdown-menu{
        margin: 0;
        width: 100%;
    }
    .home-image{
        display: none;
    }
    .home-paragraph {
        width: 100%;
    }

    /* Shoes mobile*/
    .submit-your-shoes{
        width:100%;
    }
    .shoes-container{
        margin:0;
    }

    /* Submit block*/
    .shoe-submit-box{

    }
    /* Navbar */
    .remove-mobile {
        display: none;
    }

    .display-mobile {
        display: block;
    }

    .menu-btn-container {
        text-align: center;
        padding-top: 5%;
        display: flex;
        padding-bottom: 3%;
        border-bottom: 1px solid green;
        margin-bottom: 1.5rem;
    }

    .menu-btn-container li{
        text-align: center;
        padding: 5px;
    }

    .menu-btn {
        border: none;
        font-family: 'Roboto', sans-serif;
        background: none;
        color: black;
        padding-right: 1.5rem;
    }

    .btn-secondary:hover {
        border: none;
        background: none;
        color: black;
    }

    .fa-solid, .fa-bars{
        font-size: 2rem;
    }
}

